.App {
  padding: 0px 100px 0px 100px;
}

.Todo {
  padding: 20px;
  margin: 10px 0px 10px 0px;
  max-width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.task-container {
  flex: 3;
}

.deadline-container {
  margin-right: 25px;
  margin-left: 25px;
}

.finished-icon {
  color: #78f89f;
}

.not-finished-icon {
  color: slategray;
}

.finished {
  background-color: #78f89f;
}

.not-finished {
  background-color: #fff;
}

.Flex-space {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.Times {
  cursor: pointer;
}

.Times:hover {
  color: #ccc;
}

.TodoInput {
  min-width: 400px;
  min-height: 32px;
  padding: 12px;
  border: 1px solid black;
  transition: all 0.1s;
}

.DateInput {
  min-width: 200px;
  min-height: 32px;
  padding: 12px;
  border: 1px solid black;
  transition: all 0.1s;
}

.TodoInput:hover,
.DateInput:hover {
  border: 1px solid #fff;
}

.TodoInput:focus {
  border: 1px solid #fff;
}

.SubmitButton {
  min-height: 58px;
  min-width: 75px;
  color: #fff;
  background-color: slategray;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.1s;
}

.SubmitButton:hover {
  border: 1px solid slategray;
}

.Todo:hover {
  box-shadow: 0px 1px 3px 0px black;
}

.TodoModal {
  position: absolute;
  z-index: 999;
  min-width: 400px;
  min-height: 100px;
  padding: 24px;
  background: #fff;
  right: 50;
}
