.App {
  padding: 0px 100px 0px 100px;
}

.Todo {
  padding: 20px;
  background-color: #fff;
  margin: 10px 0px 10px 0px;
  max-width: 50%;
  border-radius: 2px;
  cursor: pointer;
}

.Flex-space {
  display: flex;
  justify-content: space-between;
}

.Times {
  cursor: pointer;
}

.Times:hover {
  color: #ccc;
}

.TodoInput {
  padding: 12px;
  border: 1px solid black;
  transition: all 0.25s;
}

.TodoInput:hover {
  border: 1px solid #fff;
}

.TodoInput:focus {
  border: 1px solid #fff;
}

.SubmitButton {
  padding: 12px;
  color: #fff;
  background-color: slategray;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.25s;
}

.SubmitButton:hover {
  border: 1px solid white;
}

.Todo:hover {
  box-shadow: 0px 1px 3px 0px black;
}

.TodoModal {
  position: absolute;
  z-index: 999;
  min-width: 400px;
  min-height: 100px;
  padding: 24px;
  background: #fff;
  right: 50;
}
